/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;

}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font-family: 'Roboto';
  font-size: 16px;
  background: #06062b;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/*------------------------------------------------------------------------*/

/* USER STYLES START HERE */
/* USER STYLES START HERE */
/* USER STYLES START HERE */
/* USER STYLES START HERE */
/* USER STYLES START HERE */

/*------------------------------------------------------------------------*/

/* UBIQUITOUS ELEMENTS - START */
/* UBIQUITOUS ELEMENTS - START */

.center-point {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #9fe9ff;
}

#foundation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(#405ca9, #06062b);
  overflow: hidden;
  z-index: 0;
}
.full-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  z-index: 1000;
}
.error-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  font-size: 1.5em;
  background: #fff;
  color: #777;
  line-height: 1.5em;
  padding: 30px;
  border: 4px solid #37a9ff;
  border-radius: 8px;
  transform: translateX(-50%) translateY(-50%);
}
.error-heading {
  font-size: 32px;
  font-weight: 600;
  margin: 0 0 30px 0;
  color: #37a9ff;
}
.error-button {
  width: fit-content;
  background-color: #fff;
  padding: 10px 20px;
  margin-top: 30px;
  font-weight: 600;
  font-size: 18px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.3);
  text-decoration: none;
  color: #37a9ff;
  cursor: pointer;
  transition: opacity .2s ease-in-out, background .2s ease-in-out, color .2s ease-in-out;
}

#foundation-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  z-index: 100;
  color: #fff;
}

/* MENU ICON - START */
/* MENU ICON - START */

.x-container, .button-shadow {
  padding: 20px;
  margin: 5px;
  transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out;
  border-radius: 50px;
  cursor: pointer;
}

.x {
  position: relative;
  width: 25px;
  height: 25px;
}

.left-arm, .right-arm {
  height: 100%;
  width: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  will-change: transform;
  transition: transform .2s ease-in-out;
}
.left-arm {
  transform: translate3d(-50%, -30%, 0) rotate(-90deg);
}
.right-arm {
  transform: translate3d(-50%, -70%, 0) rotate(-90deg);
}

.x-container:active, .button-shadow:active {
  background-color: rgba(0,0,0,0.10);
  box-shadow: inset 0 0 20px 0 rgba(0,0,0,0.25);
}
.left-x-arm {
  transform: translate3d(-50%, -52%, 0) rotate(-135deg) !important;
}
.right-x-arm {
  transform: translate3d(-50%, -51%, 0) rotate(-45deg) !important;
}

/* MENU ICON - END */
/* MENU ICON - END */

.pill-container {
  display: flex;
  justify-content: flex-start;
}

.pill-buttons-container {
  display: flex;
  background: #fff;
  color: #777;
  border: 2px solid #eee;
  border-radius: 50px;
  overflow: hidden;
  width: fit-content;
}
.pill-button {
  padding: 10px 15px;
  border-right: 1px solid #eee;
  transition: background .1s ease-in-out, box-shadow .1s ease-in-out, color .1s ease-in-out;
}
.pill-button:hover {
  background: #eee;
}
.pill-button:last-child {
  border-right: 0;
}

.active-goal-page {
  color: #ccc;
  box-shadow: inset 0px 0px 20px 1px rgba(0,0,0,0.2);
}

/* LOGO - START */
/* LOGO - START */

#logo {
  position: absolute;
  left: 50%;
  height: 60px;
  transform: translate3d(-50%, 0, 0);
  margin: 25px 0;
  color: #fff;
  font-weight: 500;
  z-index: 1;
}

/* LOGO - END */
/* LOGO - END */

.text-buttons {
  cursor: pointer;
}
#foundation-header, #pb-hover-area {
  transition: transform .5s ease-in-out;
}
#pb-hover-area {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 75px;
  z-index: 100;
}
#progress-bar {
  position: fixed;
  bottom: -45px;
  left: 0;
  right: 0;

  display: flex;

  height: 75px;
  background: #222;
  /*opacity: .5;*/
  overflow: hidden;
  cursor: default !important;

  /*margin: 0 20px;*/
  /*border-radius: 8px;*/
  /*box-shadow: -5px 10px 10px 0 rgba(0,0,0,0.5);*/

  will-change: transform;
  transition: transform .5s ease-in-out, opacity .5s ease-in-out;
}
#pb-hover-area:hover #progress-bar {
  transform: translateY(-45px);
  /*transform: translateY(-70px);*/
  opacity: 1;
}
.phase {
  position: relative;
  display: inline-block;
  width: 20%;
  cursor: default;
  /* padding at 7px to center the element in the 14px of space allowed to it when the progress bar is hidden */
  /*padding: 7px;*/
  font-weight: 600;
  /*transition: background-color .5s ease-in-out;*/
  transition: width .5s ease;
}
/*.phase:after {*/
  /*content: '';*/
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*width: 1px;*/
  /*height: 130px;*/
  /*background-color: rgba(0, 118, 209, 0.5);*/
  /*transform: rotate(45deg) translate3d(-46px, 6px, 0);*/
/*}*/
.phase:last-child:after {
  background-color: transparent;
}
.triangle {
  display: inline-block;
  /*transition: border .5s ease-in-out;*/
}

.phase-header {
  display: inline-block;
  vertical-align: top;
  margin-top: 7px;
  margin-left: 7px;
  cursor: pointer !important;
}

.active-phase {
  background-color: #fff;
  width: 36%;
}
.complete-phase {
  background-color: #37a9ff;
  width: 16%;
}
.incomplete-phase {
  background-color: #222;
  width: 16%;
}

.active-phase-step {
  color: #37a9ff;
}
.active-phase-name {
  color: #aaa;
}
.active-first-triangle {
  border: 40px solid transparent;
  border-top: 40px solid #37a9ff;
  border-left: 40px solid #37a9ff;
}
.active-second-triangle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 40px solid transparent;
  border-right: 40px solid #222;
  border-bottom: 40px solid #222;
}

.complete-phase-step {
  color: #9ed5ff;
}
.complete-phase-name {
  color: #0076d1;
}
.complete-first-triangle {
  border: 40px solid transparent;
  border-top: 40px solid #37a9ff;
  border-left: 40px solid #37a9ff;
}
.complete-second-triangle {
  border: 40px solid transparent;
  border-right: 40px solid #37a9ff;
  border-bottom: 40px solid #37a9ff;
}

.incomplete-phase-step {
  color: #555;
}
.incomplete-phase-name {
  color: #777;
}
.incomplete-first-triangle {
  border: 40px solid transparent;
  border-top: 40px solid #222;
  border-left: 40px solid #222;
}
.incomplete-second-triangle {
  border: 40px solid transparent;
  border-right: 40px solid #222;
  border-bottom: 40px solid #222;
}

.page-body {
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  /*opacity: 1;*/
  /*transition: opacity .2s ease-in-out;*/
  /*z-index: 0;*/
}
/*#goals-body {*/
  /*transform: translateX(100vw);*/
  /*transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;*/
/*}*/
/*#goals-body.transition-appear {*/
   /*opacity: 0;*/
   /*transform: translate3d(100%, 0, 0);*/
/*}*/
/*#goals-body.transition-appear.transition-appear-active {*/
   /*opacity: 1;*/
   /*transform: translate3d(0, 0, 0);*/
/*}*/
/*#goals-body.transition-leave {*/
   /*opacity: 1;*/
   /*transform: translate3d(0, 0, 0);*/
/*}*/

/*#goals-body.transition-leave.transition-leave-active {*/
   /*opacity: 0;*/
   /*transform: translate3d(100%, 0, 0);*/
/*}*/


.transition-enter, .transition-leave {
  position: absolute;
}

.transition-enter {
  /*-webkit-transform: translate3d(100vw, 0, 0);*/
  /*transform: translate3d(100vw, 0, 0);*/
  /*z-index: 1;*/
  opacity: 0;
}
.transition-enter.transition-enter-active, .transition-leave.transition-leave-active {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.transition-enter.transition-enter-active {
  /*-webkit-transition: transform 1s ease-in-out, opacity 1s ease-in-out;*/
  /*transition: transform 1s ease-in-out, opacity 1s ease-in-out;*/
  /*-webkit-transform: translate3d(0, 0, 0);*/
  /*transform: translate3d(0, 0, 0);*/
  opacity: 1;
}

.transition-leave {
  opacity: 1;
  /*-webkit-transform: translate3d(0, 0, 0);*/
  /*transform: translate3d(0, 0, 0);*/
}

.transition-leave.transition-leave-active {
  /*-webkit-transition: transform 1s ease-in-out, opacity 1s ease-in-out;*/
  /*transition: transform 1s ease-in-out, opacity 1s ease-in-out;*/
  /*-webkit-transform: translate3d(0, -100vw, 0);*/
  /*transform: translate3d(0, -100vw, 0);*/
  opacity: 0;
}

.transition-appear {
  opacity: 0;
}

.transition-appear.transition-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.main-button {
  background-color: #fff;
  padding: 15px 45px;
  font-weight: 600;
  border-radius: 8px;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.3);
  transition: opacity .2s ease-in-out, background .2s ease-in-out, color .2s ease-in-out;
}
.main-button a {
  text-decoration: none;
  color: #37a9ff;
}


/* UBIQUITOUS ELEMENTS - END */
/* UBIQUITOUS ELEMENTS - END */

/*------------------------------------------------------------------------*/

/* LANDING ELEMENTS - START */
/* LANDING ELEMENTS - START */

#landing {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  color: #fff;
}

.heading-1 {
  text-align: center;
}
.heading-1 h1 {
  font-size: 4em;
  font-weight: 600;
  text-shadow: 0 4px 4px rgba(0,0,0,0.5);
  color: #37a9ff;
  margin: 40px 0 50px 0;
}
.heading-1 h2 {
  font-size: 2em;
  font-weight: 100;
}

/* LANDING ELEMENTS - END */
/* LANDING ELEMENTS - END */

/*------------------------------------------------------------------------*/

/* CLIENT INFO ELEMENTS - START */
/* CLIENT INFO ELEMENTS - START */

/*.movement {*/
  /*color: #fff;*/
  /*padding: 5px 10px;*/
  /*position: absolute;*/
  /*top: 50px;*/
  /*left: 0;*/
  /*right: 0;*/
  /*text-align: center;*/
  /*z-index: 10;*/
/*}*/

/*#stream {*/
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*transition: transform 1s ease-in-out;*/
  /*z-index: 0;*/
/*}*/

#floating-instruction {
  position: absolute;
  top: 20vh;
  left: 0;
  right: 0;
  color: #fff;
  font-size: 3em;
  font-weight: 900;
  text-align: center;
}
#floating-instruction p {
  /*color: #37a9ff;*/
  line-height: 1.5em;
  text-shadow: 0 4px 4px rgba(0,0,0,0.5);
  opacity: 1;
  transition: transform .75s ease-in-out;
}

#scrolling-stream {
  position: absolute;
  transform: translateY(45vh);
  left: 0;
  right: 0;
  will-change: transform;
  transition: transform 0.75s ease-in-out;
}

.qa-couplet {
  display: block;
  position: relative;
  height: 25vh;
  /*font-size: 32px;*/
  font-size: 32px;
  margin: 0 40px;
  /*opacity: 0;*/
  /*transform: translateY(45vh);*/
  /*will-change: opacity;*/
  transition: opacity 0.5s ease-in-out;
}

.qa-couplet:first-child {
  opacity: 1;
}

.qa-couplet:nth-child(2n) {
  opacity: 0.125;
}

.qa-couplet:nth-child(1n + 3) {
  opacity: 0;
}

.qa-couplet > div {
  width: 50%;
  padding: 0 25px;
  line-height: 1.5em;
}

.qa-couplet .question {
  display: inline-block;
  text-align: right;
  color: #fff;
}
.qa-couplet .answer {
  display: inline-block;
  text-align: left;
}
.qa-couplet > .answer > input {
  font-size: inherit;
  background: transparent;
  color: rgba(255, 255, 255, 0.25);
  padding: 2px;
  border: 0;
  border-bottom: 2px solid #fff;
  transition: border .3s ease, color .3s ease, background .3s ease;
}
.qa-couplet > .answer > input::placeholder {
  color: #fff;
  opacity: .2;
}
.qa-couplet > .answer > input:focus {
  outline: none;
  border-bottom: 2px solid #9ed5ff;
  color: #9ed5ff;
}
.qa-couplet > .answer > span {
  color: rgba(255, 255, 255, 0.25);
}
.qa-couplet > .answer > button {
  display: inline-block;
  font-size: inherit;
  text-align: center;
  border-radius: 8px;
  background-color: transparent;
  color: #fff;
  padding: 10px 15px;
  margin: 10px;
  border: 0;
}
.submit-container {
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.submit-container a {
  opacity: 0;
  transition: opacity .5s ease-in-out, background .2s ease-in-out;
}

.arrows {
  font-weight: 600;
}


/* CLIENT INFO ELEMENTS - END */
/* CLIENT INFO ELEMENTS - END */

/*------------------------------------------------------------------------*/

/* GOALS ELEMENTS - START */
/* GOALS ELEMENTS - START */

#goals-torso {
  width: 75%;
  height: 100%;
  position: relative;
  padding: 75px 50px;
  /*overflow: scroll;*/
  /*background: radial-gradient(#1ee9bd, #5d6aff 140%);*/
}
#goals-torso-goals {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.goals-torso-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px 40px 20px;
}
.goals-torso-heading {
  font-size: 2em;
  font-weight: 600;
  color: #fff;
}
.goal-card {
  width: 200px;
  height: 350px;
  position: relative;
  display: flex;
  align-items: flex-end;
  font-size: 1.75em;
  line-height: 1.25em;
  background: -webkit-linear-gradient(30deg, #37a9ff, #1ee9bd);
  background: linear-gradient(30deg, #37a9ff, #1ee9bd);
  color: #fff;
  /*background: radial-gradient(#405ca9, #06062b);*/
  border: 4px solid #405ca9;
  margin: 0 20px 40px 20px;
  padding: 10px;
  border-radius: 16px;
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.3);
  transition: color .25s ease, border .25s ease, box-shadow .25s ease;
}
.goal-card:hover {
  border: 4px solid #fff;
  color: #fff;
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.3);
}
.checkmark {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #e91e1e;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
}

#goals-shoulder {
  position: relative;
  display: inline-block;
  width: 25%;
  height: 100%;
  background-color: #222;
  color: #fff;
  z-index: 10;
  transition: transform .5s ease-in-out;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  will-change: transform;
}

#stats {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  will-change: transform;
}
#stat-panel {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /*background: -webkit-radial-gradient(#9ed5ff, #37a9ff);*/
  /*background: #222;*/
  /*border: 4px solid #fff;*/
  /*border-top: 4px solid #fff;*/
  /*border-bottom: 4px solid #fff;*/
  /*border-radius: 8px;*/
  /*padding: 10px;*/
}
#graph {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /*background: -webkit-radial-gradient(#9ed5ff, #37a9ff);*/

  border-left: 2px solid #444;
  border-bottom: 2px solid #444;
  /*border: 2px solid #fff;*/
  padding: 0 10px 10px 10px;
  /*border-radius: 8px;*/
  border-bottom-left-radius: 8px;

}
.stat-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  /*padding: 10px;*/
  margin: 10px 0;
  /*border-left: 2px solid #333;*/

}
.stat-name {
  color: #fff;
  font-weight: 400;
  margin-bottom: 10px;
}
.stat, .additional-stat {
  display: inline-block;
  height: 10px;
  border-radius: 50px;
  transition: width .5s ease-in-out;
}
.stat {
  width: 50%;
  /*background-color: #37a9ff;*/
  background: -webkit-linear-gradient(to right, #37a9ff, #1ee9bd);
  background: linear-gradient(to right, #37a9ff, #1ee9bd);
}
.additional-stat {
  width: 0;
  background: linear-gradient(to right, mediumseagreen, limegreen);
}

#goal-info {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  will-change: transform;
}

.info-panel {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
}
.info-panel:last-child {
  margin-bottom: 0;
}
.goal-sidebar-heading-container {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}
.no-bottom-margin {
  margin-bottom: 0;
}
.ten-bottom-margin {
  margin-bottom: 10px;
}
.goal-sidebar-heading {
  position: relative;
  color: #777;
  font-weight: 400;
}
.fontawesome-pencil, .dropper {
  cursor: pointer;
}
.fontawesome-pencil {
  padding: 8px;
  font-size: 2em;
  border-radius: 8px;
  margin-left: 8px;
  color: #444;
  transition: background-color .1s ease-in-out
}
.fontawesome-pencil:hover {
  background-color: #111;
}

.goal-sidebar-name {
  font-size: 1.75em;
  line-height: 1.25em;
  /*line-height: 1.5em;*/
  color: #1ee9bd;
}

.goal-sidebar-desc {
  max-height: 130px;
  font-size: 1.25em;
  line-height: 1.5em;
  /*color: #6bbfff;*/
}
.overflowing {
  overflow: auto;
  padding-right: 5px;
}

.overflowing::-webkit-scrollbar {
  width: 0.15em;
}

.overflowing::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.overflowing::-webkit-scrollbar-thumb {
  background-color: #444;
}

.goal-info-group {
  width: 100%;
}

/* GOALS ELEMENTS - END */
/* GOALS ELEMENTS - END */

/*------------------------------------------------------------------------*/

/* REVIEW ELEMENTS - START */
/* REVIEW ELEMENTS - START */

.heading {
  font-size: 2em;
  font-weight: 600;
  color: #fff;
  /*color: #37a9ff;*/
}

.info-section {
  /*position: relative;*/
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 75px 20px;
  width: 100%;
  height: 100%;
  will-change: transform;
}

#review-goals-container, #review-client-container {
  height: 45px;
  padding: 0 10px;
  overflow: hidden;
}
#review-client-container {
  z-index: 100;
}
#review-goals-container {
  z-index: 99;
}
.review-info-item-container {
  position: relative;
  width: 100%;
  background: #111;
  border-radius: 8px;
}

.dropper {
  position: absolute;
  top: 9px;
  right: 10px;
  color: #444;
  font-size: 1.75em;
}
.show-all {
  position: absolute;
  top: 0;
  right: 38px;
  color: #444;
  background: #111;
  padding: 15px 0 0 10px;
}

.dropper, .show-all {
  transition: color .1s ease-in-out, transform .2s ease-in-out;
}

.review-info-item-container:hover .dropper, .review-info-item-container:hover .show-all {
  color: #1ee9bd;
}

.review-info-item {
  width: 210px;
  padding: 5px 0;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 100;
  color: #fff;
  border-top: 1px solid #222;
}
.review-info-item:first-child {
  border-top: 0;
}
.last-review-info-item {
  border-bottom: 0;
}

.flair {
  color: #1ee9bd;
}

.alt-flair {
  color: #e9b71f;
}
.bad-flair {
  color: #ff3737;
}

.subdued {
  color: #777;
}

.emphasis {
  font-size: 2em;
  font-weight: 700;
  /*line-height: 1.5em;*/
  color: #1ee9bd;
  border: 0;
}
hr {
  margin: 20px 0 34px 0;
  width: 100%;
  border-color: #333;
}

#outer-edit-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  /*width: 100%;*/
  /*transform: translateX(25vw);*/
  /*transition: transform .2s ease-in-out;*/
}

#edit-client-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 25%;
  display: flex;
  flex-direction: column;
  background: #222;
  color: #fff;
  padding: 75px 20px;
  transform: translateX(25vw);
  transition: transform .65s ease-in-out, opacity .75s ease-in-out;
  z-index: 9;
}
.edit-heading-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
}
.edit-couplets > .question, .edit-couplets > .answer {
  margin: 10px;
}
.edit-couplets > div > input {
  outline: none;
  font-size: 1.25em;
  width: 100%;
  color: #1ee9bd;
  background: #111;
  padding: 10px;
  margin: 10px 0 20px 0;
  border: 0;
  border-radius: 8px;
}
.edit-couplets > div > input::placeholder {
  color: rgba(255,255,255,0.2);
}
.edit-client-container-buttons-container {
  display: flex;
}
.edit-client-container-button {
  background-color: #fff;
  padding: 15px;
  margin-top: 10px;
  text-align: center;
  font-weight: 600;
  border-radius: 8px;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.3);
  text-decoration: none;
  color: #37a9ff;
  transition: opacity .2s ease-in-out, background .2s ease-in-out, color .2s ease-in-out;
  cursor: pointer;
}
.save-button {
  width: 75%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.cancel-button {
  width: 25%;
  color: #ccc;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.cancel-button:hover {
  color: #ff3737;
}
.edit-client-container-button:hover, .main-button:hover, .error-button:hover {
  background: #ddd;
}

/* REVIEW ELEMENTS - END */
/* REVIEW ELEMENTS - END */

/*------------------------------------------------------------------------*/

/* CONFIRMATION ELEMENTS - START */
/* CONFIRMATION ELEMENTS - START */

.confirmation-info-panel {
  background: #333;
  padding: 20px 10px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
}
.confirmation-sidebar-heading-container {
  display: flex;
  align-items: center;
}
.confirmation-info-item {
  font-size: 2em;
  font-weight: 700;
  color: #1ee9bd;
  margin-top: 10px;
}

#print-button-container {
  transition: opacity .2s ease-in-out;
}

/* CONFIRMATION ELEMENTS - END */
/* CONFIRMATION ELEMENTS - END */

/*------------------------------------------------------------------------*/

/* UNSORTED ELEMENTS - START */
/* UNSORTED ELEMENTS - START */

#card-1, #card-2, #card-3, #card-4 {
  position: relative;
  display: inline-block;
  height: 100vh;
  width: 25%;
  will-change: transform;
}

#card-1 {
  /*background: url('/images/blue_orange.jpg') no-repeat center;*/
  /*background-size: cover;*/
  background-color: orange;
}
#card-2 {
  /*background: url('/images/green.png') no-repeat center;*/
  /*background-size: cover;*/
  background-color: violet;
}
#card-3 {
  /*background: url('/images/purple.jpg') no-repeat center;*/
  /*background-size: cover;*/
  background-color: mediumaquamarine;
}
#card-4 {
  /*background: url('/images/red.jpg') no-repeat center;*/
  /*background-size: cover;*/
  background-color: #E91E63;
}

.cards .goal-info {
  /*background: rgba(50, 141, 253, 0.5) !important;*/
  transition: background .1s ease;
}
.cards:hover .info {
  /*background: rgba(255, 255, 255, 0.5) !important;*/
}
/*.cards:hover:after {*/
/*opacity: 0;*/
/*}*/
.goal-info {
  position: absolute;
  height: 100%;
  padding: 40vh 25px 0 25px;
  /*color: #333;*/
  transition: padding-top .25s ease-in-out;
}
.goal-info .name {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}
.goal-info .desc {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4em;
}
.cards .info {
  background: rgba(50, 141, 253, 0.5) !important;
  transition: background .1s ease;
}
.cards:hover .info {
  background: rgba(255, 255, 255, 0.5) !important;
}
.info {
  position: absolute;
  height: 100vh;
  width: 100%;
  padding: 40vh 25px 0 25px;
  color: #333;
  transition: padding-top .25s ease-in-out;
}
.info .name {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 20px;
}
.info .desc {
  font-size: 1.5em;
  font-weight: 100;
  line-height: 1.4em;
}
.cards:hover .info {
  animation-name: z-index-change;
  animation-duration: .1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.button-container {
  position: relative;
  height: 100vh;
}
.buttons {
  position: absolute;
  bottom: 10vh;
  left: 50%;
  z-index: 0;
  height: 50px;
  width: 240px;
  text-align: center;
  transform: translate3d(-50%, 0, 0);
  cursor: pointer;
}
.button-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  border-radius: 40px;
  border: 2px solid #777;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.6, 0.295, 0.15, 1.645);
  transition: -webkit-transform 0.4s cubic-bezier(0.6, 0.295, 0.15, 1.645);
  transition: transform 0.4s cubic-bezier(0.6, 0.295, 0.15, 1.645);
  transition: transform 0.4s cubic-bezier(0.6, 0.295, 0.15, 1.645), -webkit-transform 0.4s cubic-bezier(0.6, 0.295, 0.15, 1.645);
  overflow: hidden;
}
.button-bg:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 200px;
  width: 100%;
  content: "";
  background: rgba(0,0,0,0.05);
  border-radius: 50%;
  -webkit-transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1),-webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.6s;
  transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1),-webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.6s;
  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.6s,opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.6s,opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1),-webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.6s;
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0;
}
.button-bg:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 24px;
  transform: scaleX(0);
  /*border: 2px solid #fff;*/
  content: "";
  will-change: transform;
}
.cards:hover .buttons, .continue-button:hover .buttons {
  z-index: 1;
}
.cards:hover .button-bg::after, .continue-button:hover .button-bg::after {
  animation-name: button-fill;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.cards:hover .button-bg, .continue-button:hover .button-bg {
  animation-name: button-expand;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.button-text {
  font-size: 24px;
  font-weight: 400;
  color: #777;
  line-height: 48px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;

}
.cards:hover .button-text {
  animation-name: color-change;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.cards:hover .goal-info {
  animation-name: z-index-change;
  animation-duration: .1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes button-fill {
  0% {
    background-color: transparent;
    transform: scaleX(0);
  }

  100% {
    background-color: #fff;
    transform: scaleX(1);
  }
}
@keyframes button-expand {
  0% {
    transform: scaleX(1) scaleY(1);
    border: 2px solid #fff;
  }
  50% {
    transform: scaleX(1.1) scaleY(1.1);
  }
  75% {
    background-color: transparent;
  }
  100% {
    transform: scaleX(1) scaleY(1);
    background-color: #fff;
    border: 2px solid #fff;
  }
}
@keyframes color-change {
  0% {
    color: #fff;
  }
  100% {
    color: #777;
  }
}
@keyframes z-index-change {
  from {
    z-index: 0;
  }
  to {
    z-index: 10;
  }
}

/* UNSORTED ELEMENTS - START */
/* UNSORTED ELEMENTS - START */

/*------------------------------------------------------------------------*/