/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font-family: 'Roboto';
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------------------------------------------------------------------------*/

/* USER STYLES START HERE */
/* USER STYLES START HERE */
/* USER STYLES START HERE */
/* USER STYLES START HERE */
/* USER STYLES START HERE */

/*------------------------------------------------------------------------*/

/* UBIQUITOUS ELEMENTS - START */
/* UBIQUITOUS ELEMENTS - START */

.center-point {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #9fe9ff;
}

#foundation {
  position: relative;
}

#foundation-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  z-index: 1;
  color: #fff;
}

/* MENU ICON - START */
/* MENU ICON - START */

.x-container, .button-shadow {
  padding: 20px;
  margin: 5px;
  transition: background-color .2s ease-in-out;
  border-radius: 50px;
}

.x {
  position: relative;
  width: 25px;
  height: 25px;
}

.left-arm, .right-arm {
  height: 100%;
  width: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  will-change: transform;
  transition: transform .2s ease-in-out;
}
.left-arm {
  transform: translate3d(-50%, -30%, 0) rotate(-90deg);
}
.right-arm {
  transform: translate3d(-50%, -70%, 0) rotate(-90deg);
}

.x-container:active, .button-shadow:active {
  background-color: rgba(0,0,0,0.01);
  box-shadow: inset 0 0 20px 0 rgba(0,0,0,0.5);
}
.left-x-arm {
  transform: translate3d(-50%, -52%, 0) rotate(-135deg) !important;
}
.right-x-arm {
  transform: translate3d(-50%, -51%, 0) rotate(-45deg) !important;
}

/* MENU ICON - END */
/* MENU ICON - END */

/* LOGO - START */
/* LOGO - START */

#logo {
  position: absolute;
  left: 50%;
  height: 60px;
  transform: translate3d(-50%, 0, 0);
  margin: 25px 0;
  color: #fff;
  font-weight: 500;
  z-index: 1;
}

/* LOGO - END */
/* LOGO - END */

.text-buttons {
  cursor: pointer;
}
#pb-hover-area {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
}
#progress-bar {
  position: fixed;
  bottom: -50px;
  left: 0;
  right: 0;

  display: flex;

  height: 80px;
  background: #405ba8;
  opacity: .5;
  overflow: hidden;
  cursor: default;

  /*margin: 0 20px;*/
  /*border-radius: 8px;*/
  /*box-shadow: -5px 10px 10px 0 rgba(0,0,0,0.5);*/

  will-change: transform;
  transition: transform .5s ease-in-out, opacity .5s ease-in-out;
}
#pb-hover-area:hover #progress-bar {
  transform: translateY(-50px);
  /*transform: translateY(-70px);*/
  opacity: 1;
}
.phase {
  position: relative;
  display: inline-block;
  /* padding at 7px to center the element in the 14px of space allowed to it when the progress bar is hidden */
  padding: 7px;
  color: #333;
  font-weight: 600;
  transition: background-color .5s ease-in-out;
}
.triangle {
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  transition: border .5s ease-in-out;
}

.phase:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 120px;
  background-color: rgba(0,0,0,0.5);
  transform: rotate(45deg) translate3d(-41px, 10px, 0);
}
.phase:last-child:after {
  background-color: transparent;
}

.phase-header {

}

/* UBIQUITOUS ELEMENTS - END */
/* UBIQUITOUS ELEMENTS - END */

/*------------------------------------------------------------------------*/

/* CLIENT INFO ELEMENTS - START */
/* CLIENT INFO ELEMENTS - START */

/*.movement {*/
  /*color: #fff;*/
  /*padding: 5px 10px;*/
  /*position: absolute;*/
  /*top: 50px;*/
  /*left: 0;*/
  /*right: 0;*/
  /*text-align: center;*/
  /*z-index: 10;*/
/*}*/

#client-info-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(#405ca9, #06062b);
  overflow: hidden;
  /*z-index: 0;*/
}

#stream {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out;
}

.qa-couplet {
  position: absolute;
  width: 100%;
  font-size: 32px;
  /*margin: 300px 0;*/
  opacity: 0;
  /*transform: translateY(45vh);*/
  /*will-change: opacity;*/
  transition: transform 1s ease-in-out, opacity 0.5s ease-in-out;
}

.qa-couplet:first-child {
  transform: translateY(50vh);
}

.qa-couplet:nth-child(2n) {
  transform: translateY(75vh);
}

.qa-couplet:nth-child(1n + 3) {
  transform: translateY(100vh);
}

.qa-couplet > div {
  width: 50%;
  padding: 0 25px;
  line-height: 1.5em;
}

.qa-couplet .question {
  display: inline-block;
  text-align: right;
  color: #fff;
}
.qa-couplet .answer {
  display: inline-block;
  text-align: left;
}
.qa-couplet > .answer > input {
  font-size: inherit;
  background: transparent;
  color: rgba(255, 255, 255, 0.25);
  padding: 2px;
  border: 0;
  border-bottom: 2px solid #fff;
  transition: border .3s ease, color .3s ease, background .3s ease;
}
.qa-couplet > .answer > input::placeholder {
  color: #fff;
  opacity: .2;
}
.qa-couplet > .answer > input:focus {
  outline: none;
  border-bottom: 2px solid #9fe9ff;
  color: #9fe9ff;
}
.qa-couplet > .answer > button {
  display: inline-block;
  font-size: inherit;
  text-align: center;
  border-radius: 8px;
  background-color: transparent;
  color: #fff;
  padding: 10px 15px;
  margin: 10px;
  border: 0;
}


/* CLIENT INFO ELEMENTS - END */
/* CLIENT INFO ELEMENTS - END */

/*------------------------------------------------------------------------*/